@import 'data';

// MENU
#menu-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    #logo {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 30px;
        transition: color 1s ease;
    }

    #logo:hover {
        color: $purple;
    }

    .burger-menu {
        display: none;
    }

    #menu-bar {
        display: flex;
        justify-content: flex-end;

        a {
            padding: 8px;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        a:hover {
            color: $purple;
        }
    }
}

// HOME + PROJECTS
#speech {
    display: block;
    margin: auto;
    width: 45%;
    padding: 45px;

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    #contact-home {
        display: inline-block;
        margin: 20px 0;
        padding: 20px;
        background: $purple;
        border-radius: 8px;
        color: $black;
    }
}

#speech-span {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 1.5px;
    background: $white;
}

.project-container {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-icon {
        width: 30%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .project-details {
        width: 100%;

        h2 {
            margin: 10px 0;
            font-size: 30px;
            color: $white;
        }
        
        p {
            margin: 5px 0;
            font-size: 16px;
            color: $white;
        }
    }

    .project-link {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background: $purple;
        border-radius: 8px;
        color: $black;
        text-decoration: none;
    }
}

.project-span {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 1.5px;
    background: $white;
}

.more-project {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 40px auto;
    background: $purple;
    border-radius: 8px;
    color: $black;
    text-decoration: none;
    text-align: center;
}

// EXPERIENCES
.experiences-container {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    display: block;

    .experiences-icon {
        width: 30%;
        height: auto;
        margin-bottom: 20px;
    }
}

// SKILLS
.skill-container {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .skill-icon {
        width: 30%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .skill-details {
        width: 100%;

        h2 {
            margin: 10px 0;
            font-size: 30px;
            color: $white;
        }
        
        p {
            margin: 5px 0;
            font-size: 16px;
            color: $white;
        }
    }
}

.skill-span {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 1.5px;
    background: $white;
}

// CONTACT
.contact-form-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;

    h1 {
        margin-bottom: 20px;
        color: $white;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .form-group {
            margin-bottom: 15px;
            text-align: left;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: $white;
            }

            input, select {
                width: 100%;
                padding: 10px;
                background: $white;
                border: 5px solid $white;
                border-radius: 5px;
                font-size: 16px;
                transition: border-color 0.3s;
            }

            input:focus, select:focus {
                border-color: $purple;
                outline: none;
            }
        }

        button {
            padding: 10px 20px;
            background: $purple;
            color: $white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: darken($purple, 10%);
            }
        }
    }
}

// FOOTER
.footer-container {
    background-color: $black;
    color: $white;
    padding: 20px 0;
    text-align: center;

    .footer-credentials {
        border-top: 1px solid $white;
        margin-top: 20px;
        padding-top: 10px;

        p {
            margin: 0;
        }
    }
    
    .footer-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1000px;

        .footer-section {
            flex: 1;
            min-width: 200px;
            margin: 10px 0;

            h3 {
                color: $purple;
                margin-bottom: 15px;
            }

            a {
                color: $white;
                text-decoration: none;
                display: block;
                margin: 5px 0;
                transition: color 0.3s;
            }

            a:hover {
                color: $purple;
            }

            p {
                margin: 5px 0;
            }
        }
    }
}

// AUTH
.login-form-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: $black;
    border-radius: 8px;

    h1 {
        margin-bottom: 20px;
        color: $white;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .form-group {
            margin-bottom: 15px;
            text-align: left;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: $white;
            }

            input[type="email"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                background: $white;
                border: 5px solid $white;
                border-radius: 5px;
                font-size: 16px;
                transition: border-color 0.3s;

                &:focus {
                    border-color: $purple;
                    outline: none;
                }
            }
        }

        button {
            padding: 10px 20px;
            background: $purple;
            color: $white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: darken($purple, 10%);
            }
        }
    }
}

// DASHBOARD
#dashboard-container {
    width: 50%; /* Adjust width as needed */
    margin: auto; /* Center horizontally */
    margin-top: 220px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    padding: 20px 0;
    background: $purple;

    #menu-bar {
        display: flex;
        justify-content: flex-end;

        a {
            padding: 8px;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        a:hover {
            color: $black;
        }
    }
}

// DASHBOARD TABLE
.dash-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 30px;

    th {
        border: 3px solid $purple;
        padding: 8px;
        text-align: center;
        background-color: $purple;
        color: $black;
    }

    td {
        border: 3px solid $purple;
        padding: 8px;
        text-align: center;

        .dash-table a {
            color: $purple;
            text-decoration: none;
        }
        
        .dash-table a:hover {
            text-decoration: underline;
        }
    }

    .dash-table tr:nth-child(even) {
        background-color: $purple;
    }
    
    .dash-table tr:hover {
        background-color: $purple;
    }
}

// DASHBOARD FORM
.dash-form {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input[type="text"],input[type="url"],
    input[type="date"],.textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid $white;
    border-radius: 4px;
    background: $white;
    box-sizing: border-box;
    transition: border-color 0.3s;
    color: $black;

    &:focus {
        border-color: $purple;
        outline: none;
    }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: $purple;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: darken($purple, 10%);
    }
}

textarea {
    resize: vertical;
    min-height: 100px;
    height: 150px;
    width: 100%;
}

// Media Queries
@media (max-width: 768px) {
    #menu-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        width: 100%;

        #logo {
            font-size: 24px;
            margin: 20px;
        }

        #menu-bar {
            display: none;
            flex-direction: column;
            align-items: center;

            a {
                font-size: 16px;
                padding: 10px 0;
            }
        }

        .burger-menu {
            display: block;
            cursor: pointer;
            font-size: 24px;
            margin: 20px;
        }

        .burger-menu.active + #menu-bar {
            display: flex;
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $black;
            width: 80%;
            border-radius: 8px;
            padding: 10px 0;
        }
    }

    #speech {
        width: 90%;
        padding: 20px;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }

        #contact-home {
            padding: 15px;
            font-size: 18px;
        }
    }

    .project-container, .experiences-container, .skill-container {
        width: 90%;
        margin: 10px auto;
        padding: 10px;

        .project-icon, .experiences-icon, .skill-icon {
            width: 50%;
        }

        .project-details, .skill-details {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }
        }

        .project-link {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    .project-span, .skill-span {
        width: 90%;
    }

    .more-project {
        width: 90%;
        font-size: 16px;
        padding: 8px 16px;
    }

    .contact-form-container, .login-form-container {
        width: 90%;
        margin: 20px auto;
        padding: 10px;

        .contact-form, .login-form {
            .form-group {
                label {
                    font-size: 14px;
                }

                input, select {
                    padding: 8px;
                    font-size: 14px;
                }
            }

            button {
                padding: 8px 16px;
                font-size: 14px;
            }
        }
    }

    #dashboard-container {
        width: 90%;
        margin-top: 100px;
        padding: 10px;

        #menu-bar {
            a {
                padding: 6px;
                font-size: 16px;
            }
        }
    }

    .dash-table {
        width: 100%;

        th, td {
            padding: 4px;
            font-size: 14px;
        }
    }

    .dash-form {
        width: 90%;
        padding: 10px;

        input, .textarea {
            padding: 8px;
            font-size: 14px;
        }

        button {
            padding: 8px;
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    #menu-container {
        padding: 10px 0;

        #logo {
            font-size: 20px;
        }

        #menu-bar a {
            font-size: 14px;
        }
    }

    #speech {
        width: 100%;
        padding: 10px;

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }

        #contact-home {
            padding: 10px;
            font-size: 16px;
        }
    }

    .project-container, .experiences-container, .skill-container {
        width: 100%;
        padding: 10px;

        .project-icon, .experiences-icon, .skill-icon {
            width: 60%;
        }

        .project-details, .skill-details {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }

        .project-link {
            padding: 6px 12px;
            font-size: 12px;
        }
    }

    .more-project {
        width: 100%;
        font-size: 14px;
        padding: 6px 12px;
    }

    .contact-form-container, .login-form-container {
        width: 100%;
        padding: 10px;

        .contact-form, .login-form {
            .form-group {
                label {
                    font-size: 12px;
                }

                input, select {
                    padding: 6px;
                    font-size: 12px;
                }
            }

            button {
                padding: 6px 12px;
                font-size: 12px;
            }
        }
    }

    #dashboard-container {
        width: 100%;
        padding: 10px;

        #menu-bar a {
            padding: 4px;
            font-size: 14px;
        }
    }

    .dash-table {
        th, td {
            padding: 2px;
            font-size: 12px;
        }
    }

    .dash-form {
        width: 100%;
        padding: 10px;

        input, .textarea {
            padding: 6px;
            font-size: 12px;
        }

        button {
            padding: 6px;
            font-size: 12px;
        }
    }
}